.sorting tr:not(.home){
    cursor: pointer;
    border: 1px dashed #ccc;
}

#imgPreview{
    margin: 20px;
}

#product-img{
    width: 100px;
    height: 100px;
}

ul.gallery{
    padding: 0px;
}

ul.gallery li:first-child{
    margin-left: 0px;
}
ul.gallery li{
    margin: 20px;
    display: inline-block;
    list-style: none;
}
table.alignmiddle td {
    vertical-align: middle;
}